.goBackButton {
  width: 30px;
  height: 30px;

  @media (min-width: 767px) {
    width: 40px;
    height: 40px;
  }
}

.otpWrapper {
  width: 100%;

  .otpField {
    // flex: 0 1 30%;
    width: 25%;
    margin: 0 20px 0 0;

    &:last-child {
      margin: 0;
    }

    input {
      height: 100%;
      margin: 0 auto;
      width: 36px !important;
      height: 36px !important;
      border-radius: 2px !important;
      border: 1px solid #002b45 !important;
      background-color: #ffffff !important;
      color: #002b45;
      font-family: "Barlow", sans-serif;
      font-weight: 500;
      font-style: normal;
      letter-spacing: 0.4px;
      font-size: 20px;
      line-height: 32px;
      text-align: left;

      @media (min-width: 576px) {
        font-size: 32px;
        line-height: 41px;
        width: 76px !important;
        height: 76px !important;
      }
    }
  }
}

.textlink {
  &,
  &:hover {
    color: #3d7edb !important;
    font-family: "Barlow", sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: right;
    text-transform: capitalize;

    span {
      margin: 0px 0 0 5px;
      width: 45px;
      display: block;
      color: #002b45 !important;
      font-family: "Montserrat", sans-serif;
      font-weight: 400 !important;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }
  }
}
