$primary-color: #0069e0;

$base-Color: #2b2e4a;
$base-Color1: #e84545;
$base-Color2: #903749;
$base-Color3: #53354a;

$base1-Color: #111d5e;
$base2-Color1: #c70039;
$base3-Color2: #f37121;
$base4-Color3: #c0e218;
