.text-primary {
  color: #0069e0 !important;
}

.text-blue {
  color: #003b53 !important;
}

.txt-secondary {
  color: #002b45 !important;
}

.txt-bluelight {
  color: #316174;
}

.text-grey {
  color: #1d1d1d;
}

.bg-white {
  color: #ffffff !important;
}

.txt-lgtWhite {
  color: #fcfbfc;
}

.txt-light {
  color: #ded3de;
}

.text-ltblue {
  color: #049ecc; 
}

.text-green {
  color: #34b233;
}

.text-red  {
  color:#ff3f3f ;
}

.text-paraBlue {
  color: #7292a0 !important;
}

.text-paraLight {
  color: #567283;  
}

.text-paraWhite {
  color: #71c8e2 !important;
}

